.optionDiv {
  height: 100vh;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
}

.option {
  align-self: center;
  cursor: pointer;
  color: snow;
  border: 2px black solid;
  padding: 7%;
  background-color: red;
  border-radius: 50%;
  font-size: 1.5rem;
}

.spanLine {
  width: 0.5%;
  background: #a80000;
}

.navbar-brand {
  margin-right: 15rem !important;
}