@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* RESPONSIVE AND COMMON CSS */

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
  font-family: 80% !important;
}

h1,h2,h3,h4,h5,h6 {
font-weight: 700 !important;
color: #233d62;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

p {
  color: #687693;
  line-height: 1.9em;
}

a{
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

a:hover {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}



/* .slick-list, .slick-track { touch-action:pan-y; } */

.optionDiv {
  height: 100vh;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
}

.option {
  align-self: center;
  cursor: pointer;
  color: snow;
  border: 2px black solid;
  padding: 7%;
  background-color: red;
  border-radius: 50%;
  font-size: 1.5rem;
}

.spanLine {
  width: 0.5%;
  background: #a80000;
}

.site-brand {
  color: white !important;
  font-size: 28px !important;
  font-weight: bold;
  padding-top: 0px !important;
  
}

.activeNavLink, .fa:hover, .navLink:hover, .btn-theme, .upper-footer  ul > li > a:hover {
  color: #FC6E36;
}

.btn-theme:hover,.extra-links > ul > li > a:hover,.site-footer, .site-footer a{
  color: snow;
}

.section-padding {
  padding: 100px 0;
}

@media (max-width: 577px) {
  .slick-initialized {
    overflow: hidden;
  }

  .slick-track {
    padding-bottom: 50px;
  }
}

@media (max-width: 991px){
  
  body {
    font-size: 90% !important;
  }

  .widget {
    padding-left: 0 !important;
  }

  .copyright {
    float: none !important;
  }
  
  .extra-links {
    float: none !important;
  }

  .extra-links ul {
    display: inline-block;
    padding-inline-start: 0px;
  }

  .extra-links > ul > li+li {
    margin-left: 15px;
  }                  

  .extra-links > ul > li+li:before{
    content: none;
  }

  .section-padding {
    padding: 90px 0 !important;
  }

  
}